/* estilos generales */
body{
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
    background-image: url("../dist/imagenes/morado.jpg");
    background-size: cover;
    background-position: 200px 0px;
    background-repeat: no-repeat;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Estilos para el contenedor principal */
#app{
    background-color: rgb(254, 247, 196);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #a2a2e2 ; /*caja de sombra*/
}

/* Estilos para el formulario*/
form{
    display: flex;
    justify-content: space-between; /*space-between es para separar todo ahacia un lado y separado equitattivamente*/
}

/* estilos al input*/
input{
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ef95dd;
    border-radius: 3px;
    background-color: #a9a8f9;
    color: #6310a2;

}

/* Estilos al boton*/
button{
    padding: 5px 8px; /* se pueden poner ambos valores para arriba-abajo izquierda-derecha*/
    background-color: #56c3f2;
    color: rgb(13, 98, 98);
    border: none;
    border-radius: 3px;
    cursor: pointer; /*cambiar el cursor a manita*/
}

/*Estilos para la lista*/
ul{
    list-style: none;
    padding: 0;
}

/*Estilos para el elemento de la lista*/
li{
    background-color: #a9a8f9;
    padding: 10px;
    border: 1px solid #d74bea;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6310a2;
}

/*Estilos para el elemento completado de la lista*/
li.completed{
    text-decoration: line-through;
    color: #d74bea;
}


h1{
    color: #6310a2;
}
.task-input{
color: #020203;
}